@{
    ViewData["Title"] = "Always Forward | Habit Tracker";
}

<div class="nav container">
    
        <ul class="nav-options">
            
        </ul>

</div>

<body class="page">
    <div class="landing">
        <div class="home-wrapper">
            <div class="text-center">
                <h3 class="display-4">
                    A simple habit tracker application
                    to help you become the best version of yourself.
                </h3>
                <div class="buttons-mylist">
                    <a class="button" href="/Activity/Index/">Forward!</a>
                </div>
            </div>
        </div>
    </div>
</body>
