@model IEnumerable<Activity>

<h2 class="list-header">Your Daily Tasks</h2>


<table class="task-table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th></th>
    </tr>

    @foreach (var activity in @Model)
    {
        <tr>
            
            <td><a class="checkbox-text" href=/Activity/ViewActivity/@activity.ActivityID>@activity.Name</a></td>
            <td>@activity.Description</td>
            <td>@switch(activity.CategoryID)
                {
                    case 1: activity.CategoryName = "Hygiene";
                    break;
                    case 2: activity.CategoryName = "Mental Health/Mindfulness";
                    break;
                    case 3: activity.CategoryName = "Physical Health/Fitness";
                    break;
                    case 4: activity.CategoryName = "Discipline";
                    break;
                    case 5: activity.CategoryName = "Learning/Education";
                    break;
                    case 6: activity.CategoryName = "Social";
                    break;
                    case 7: activity.CategoryName = "Financial";
                    break;
                    case 8: activity.CategoryName = "Spiritual";
                    break; 
                    default: activity.CategoryName = "Undefined";
                    break; 
                }
                @activity.CategoryName
            </td>
                <td class="checkbox-text">
                <input type="checkbox" name="IsCompleted" checked="@activity.IsCompleted" value="true" />
                        <input name="IsCompleted" type="hidden" value="false" />
                </td>
            </tr>
    }
</table>

<div class="buttons-addtask">
    <a class="buttontext" href="/Activity/InsertActivity/">Add a new Task?</a>
</div>
