@model IEnumerable<Activity>

<h2>Activities</h2>

<table class="table">
    <tr>       
        <th>Name</th>
        <th>Description</th>
        <th>Completed?</th>
        <th>Category ID</th>
    </tr>

    @foreach (var activity in @Model)
    {
        <tr>           
            <td><a href=/Activity/ViewActivity/@activity.ActivityID>@activity.Name</a></td>
            <td>@activity.Description</td>
            <td>@activity.isCompleted</td>
            <td>@activity.CategoryID</td>
        </tr>
    }

</table>