@model IEnumerable<Activity>

<h2>Daily Tasks</h2>

<div style="display: block">
    <a href="/Activity/InsertActivity/">Add a new Task?</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Task Category</th>
    </tr>

    @foreach (var activity in @Model)
    {
        <tr>
            <td>
                <input type="checkbox" checked="@activity.isCompleted" onclick="window.location.href = './Index';" />
                <a href=/Activity/ViewActivity/@activity.ActivityID>@activity.Name</a>
            </td>
            <td>@activity.Description</td>
            <td>@activity.CategoryName</td>
        </tr>
    }
    
</table>