
@{
    ViewData["Title"] = "Add a new Task!";
}


@model Activity

<h2>Let`s add a new task. The more the merrier!</h2>

@using (Html.BeginForm("InsertActivityToDatabase", "Activity", "Post"))
{
    <input asp-for="ActivityID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" step="0.01" name="Description" class="form-control" />

    <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
            }
        </select>
    </div>

    <input type="submit" value="Add Task" class="btn btn-primary" />
}

